@charset "utf-8";

/* Custom Styles */

html {
    height: 100%;
}

body {
    background-color: rgb(255, 115, 0);
    background-size: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    height: auto;
    color: white;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
    text-shadow: 2px 2px 4px #000;
    position: relative;
    z-index: 2;
}

h1 {
    font: 700 28px/34px 'Architects Daughter', cursive;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 10px 5px;
}

h2 {
    color: white;
    font: 300 22px/26px 'Architects Daughter', cursive;
    text-align: center;
    padding: 10px;
}

h3 {
    color: white;
    font: 300 28px/32px 'Architects Daughter', cursive;
    text-align: center;
    padding: 10px;
}

h4 {
    color: white;
    font: 700 20px/22px 'Architects Daughter', cursive;
    text-align: center;
    padding: 10px;
}

p {
    color: white;
    font: 300 16px/20px 'Architects Daughter', cursive;
    padding: 5px;
    text-align: center;
}

em {
    font-style: italic;
}

/* Grid */

#header {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#angry_beavers {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#arnold {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#catdog {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#chuckie {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#doug {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#kablam {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#rocket_power {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

#rocko {
    display: inline-block;
    width: 15%;
    height: auto;
    z-index: 1;
    position: absolute;
}

.startButton {
    color: rgb(255, 115, 0);
    background-color: white;
    font: 500 22px/26px 'Architects Daughter', cursive;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 5px double limegreen;
}

.startButton:hover {
    color: rgb(255, 115, 0);
    background-color: limegreen;
    transform: scale(1.1);
    border: 5px double white;
}

.resetButton {
    color: rgb(255, 115, 0);
    background-color: white;
    font: 500 22px/26px 'Architects Daughter', cursive;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 5px double limegreen;
}

.resetButton:hover {
    color: rgb(255, 115, 0);
    background-color: limegreen;
    transform: scale(1.1);
    border: 5px double white;
}

